<div class="reset-email-pass">
    <div class="container">
        <div class="web-logo text-center">
            <img src="../../../../../assets/img/logo-color.svg">
        </div>
        <div class="inside-email">
            <div *ngIf="showPasswordForm" class="modal-header register">
                <h4 class="modal-title pull-left">Reset Password</h4>
                <p>Please provide following details to reset your password.</p>
                <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
                    <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
                </button> -->
            </div>
            <div *ngIf="showPasswordForm" class="modal-body register-form">
                <form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group input-group">
                                <img src="../../../../assets/img/Hide.svg" class="eye_img">
                                <div class="has-float-label">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="{{'NEW_PASSWORD' | translate}}" trim maxlength="13">
                                    <label for="password">{{"NEW_PASSWORD" | translate}}</label>
                                </div>
                                <div class="validation-div">
                                    <app-validation-message [control]="resetPasswordForm.controls['password']"
                                        [messages]="messageList.password">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group input-group">
                                <img src="../../../../assets/img/Hide.svg" class="eye_img">
                                <div class="has-float-label">
                                    <input type="password" class="form-control" formControlName="confirmpassword"
                                        placeholder="{{'CONFIRM_PASSWORD' | translate}}" trim maxlength="13">
                                    <label for="password">{{"CONFIRM_PASSWORD" | translate}}</label>
                                </div>
                                <div class="validation-div">
                                    <small class="form-text text-muted error">
                                        <div
                                            *ngIf="(!resetPasswordFormControls['confirmpassword'].errors || !resetPasswordFormControls['confirmpassword'].errors.required) &&
                                                        resetPasswordFormControls['password'].touched &&   resetPasswordFormControls['confirmpassword'].touched &&
                                                    resetPasswordFormControls['confirmpassword'].errors &&   resetPasswordFormControls['confirmpassword'].errors.ConfirmPassword">
                                            {{'ERR_PASSWORD_NOT_MATCH' | translate}}
                                        </div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn_group">
                                <button type="submit" prevent-double-submit class="dark-green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>