@import "../../../../scss/custom-variable";
.modal-header.register {
    padding-bottom: 0;
    p {
        margin-bottom: 0;
    }
}

.modal-body.register-form {
    form {
        width: 100%;
        float: left;
        .btn_group {
            margin-top: 15px;
        }
    }
}

.modal-header {
    width: 100%;
    float: left;
    display: initial;
    border-bottom: none;
    .modal-title {
        width: 100%;
        float: left;
        letter-spacing: 0.26px;
        font-size: $font-size-26;
        color: $title-color;
        font-weight: $Medium;
        position: relative;
        &::before {
            border-bottom: solid 2px $borderbefore-color;
            content: "";
            width: 70px;
            left: 0;
            position: absolute;
            bottom: -8px;
        }
    }
    p {
        width: 100%;
        float: left;
        letter-spacing: 0px;
        font-size: $font-size-18;
        font-weight: $Regular;
        color: $text-color;
        text-align: left;
        line-height: 30px;
        padding-top: 25px;
        margin-bottom: 10px;
    }
    .close {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        outline: none;
        span {
            img {
                max-width: 50px;
            }
        }
    }
}

.modal-body {
    width: 100%;
    float: left;
    form {
        width: 100%;
        float: left;
        .form-group {
            width: 100%;
            float: left;
            margin-top: 8px;
            position: relative;
            .eye_img {
                max-width: 20px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
        .forgot {
            float: right;
            top: -10px;
            position: relative;
            text-decoration: none;
            letter-spacing: 0px;
            font-size: $font-size-18;
            font-weight: $Regular;
            color: $title-color;
        }
        .btn_group {
            width: 100%;
            float: left;
            p {
                font-size: $font-size-18;
                font-weight: $Regular;
                letter-spacing: 0px;
                color: $text-color;
                margin-top: 20px;
                margin-bottom: 0;
                a {
                    color: $title-color;
                    font-weight: $Medium;
                    text-decoration: none;
                }
            }
        }
    }
}
.textArea{
    width: 100%;
    resize: none;
}
.form-group{
    select{
        opacity: 0.6;
        font-weight: normal;
        color: #495057 !important;
        &:focus{
            opacity: 1;
            color: #222222 !important;
        }
    }
}
.validation-div{
    .form-text.error{
        div{
            line-height: normal !important;
        }
    }
}