<!-- Register user screen start -->
<div class="modal-header register">
    <h4 class="modal-title pull-left">Register</h4>
    <p>Please provide following details to setup your account</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" onHide()">
        <span aria-hidden="true"><img src="../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body register-form">
    <form *ngIf="userSignUpForm" [formGroup]="userSignUpForm" (ngSubmit)="onSignUp()">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="register-radio">
                        <input formControlName="role" id="user" type="radio" name="role" value="{{user}}"
                            (change)="roleSelected()">
                        <label for="user">{{"USER" | translate}}</label>
                        <input formControlName="role" id="agent" type="radio" name="role" value="{{agent}}"
                            (change)="roleSelected()">
                        <label for="agent">{{"AGENT" | translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!agentFormEnabled" class="row">
            <div class="col-lg-6">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="firstName" trim="blur" maxlength="50"
                            placeholder="{{'FIRSTNAME' | translate}}">
                        <label>{{"FIRSTNAME" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['firstName']"
                            [messages]="messageList.firstName">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="lastName"
                            placeholder="{{'LASTNAME' | translate}}" trim="blur" maxlength="50">
                        <label>{{"LASTNAME" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['lastName']"
                            [messages]="messageList.lastName">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="agentFormEnabled" class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="businessName"
                            placeholder="{{'BUSINESS_NAME' | translate}}" trim="blur" maxlength="60">
                        <label>{{"BUSINESS_NAME" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['businessName']"
                            [messages]="messageList.businessName">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="agentFormEnabled" class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <select class="form-control select2" formControlName="businessCategories">
                            <option value="" disabled="true">{{'PLACEHOLDER_BUSINESS_CATEGORIES' | translate}}</option>
                            <option *ngFor="let items of categoriesData" [ngValue]="items.value">
                                {{items.value}}
                            </option>
                        </select>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['businessCategories']"
                            [messages]="messageList.businessCategories">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="{{'EMAIL_ADDRESS' | translate}}" trim maxlength="60">
                        <label>{{"EMAIL_ADDRESS" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['email']"
                            [messages]="messageList.email">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="mobile"
                            placeholder="{{'MOBILE_NUMBER' | translate}}" trim maxlength="10">
                        <label>{{"MOBILE_NUMBER" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['mobile']"
                            [messages]="messageList.mobile">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="agentFormEnabled" class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <textarea class="textArea form-control" formControlName="businessDescription"
                        placeholder="{{'BUSINESS_DESCRIPTION' | translate}}"></textarea>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['businessDescription']"
                            [messages]="messageList.businessDescription">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <img src="../../../assets/img/Hide.svg" class="eye_img">
                    <div class="has-float-label">
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="{{'PASSWORD' | translate}}" trim="blur" maxlength="13">
                        <label for="password">{{"PASSWORD" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="userSignUpForm.controls['password']"
                            [messages]="messageList.password">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn_group">
                    <button type="submit" prevent-double-submit class="dark-green">Register</button>
                    <button type="button" class="disable-btn-green" (click)="onLogin()">Back to Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Register user screen end -->