<!-- login screen start -->
<div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <p>Please provide following details to login into the system</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
        <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body">
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="mobile"
                            placeholder="{{'MOBILE_NUMBER' | translate}}" trim maxlength="10">
                        <label>{{"MOBILE_NUMBER" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="loginForm.controls['mobile']"
                            [messages]="messageList.mobile">
                        </app-validation-message>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <img src="../../../../assets/img/Hide.svg" class="eye_img mouse-hover">
                    <div class="has-float-label">
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="{{'PASSWORD' | translate}}" trim="blur" maxlength="13">
                        <label for="password">{{"PASSWORD" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="loginForm.controls['password']"
                            [messages]="messageList.password">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="forgot mouse-hover" (click)="onForgotPassword()">Forgot Password?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn_group">
                    <button class="dark-green">Login</button>
                    <p>Don't have an account? <a class="mouse-hover" (click)="onSignup()"> Register</a></p>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- login screen end -->




<!-- Add New Card screen start -->
<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Card</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
        <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body add-new-card">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" id="MobileNumber" placeholder="Card Number">
                        <label for="MobileNumber">Card Number</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" id="CardHolderName" placeholder="Card Holder Name">
                        <label for="CardHolderName">Card Holder Name</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group input-group">
                    <img src="../../../../assets/img/calendar.svg" class="eye_img mouse-hover">
                    <div class="has-float-label">
                        <input type="password" class="form-control" id="ExpiryMonth" placeholder="Expiry Month">
                        <label for="ExpiryMonth">Expiry Month</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group input-group">
                    <img src="../../../../assets/img/calendar.svg" class="eye_img mouse-hover">
                    <div class="has-float-label">
                        <input type="password" class="form-control" id="ExpiryYear" placeholder="Expiry Year">
                        <label for="ExpiryYear">Expiry Year</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn_group">
                    <button class="dark-green">Save</button>

                </div>
            </div>
        </div>
    </form>
</div> -->
<!-- Add New Card screen end -->


<!-- Add Bank screen start -->
<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Add Bank</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
        <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body add-new-card">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" id="BankAccountNumber" placeholder="Bank Account Number">
                        <label for="BankAccountNumber">Bank Account Number</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" id="BankName" placeholder="Bank Name">
                        <label for="BankName">Bank Name</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="password" class="form-control" id="TransferDetail" placeholder="Transfer Detail">
                        <label for="TransferDetail">Transfer Detail</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn_group">
                    <button class="dark-green">Save</button>

                </div>
            </div>
        </div>
    </form>
</div> -->
<!-- Add Bank screen end -->


<!-- Upload Document screen start -->
<!-- <div class="modal-header register">
    <h4 class="modal-title pull-left">Upload Document</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)=" onHide()">
        <span aria-hidden="true"><img src="../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body register-form">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="upload-btn-cover">
                        <button class="dark-green">Upload</button>
                        <input type="file" name="myfile" />
                        <label>text</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="upload-btn-cover">
                        <button class="dark-green">Upload</button>
                        <input type="file" name="myfile" />
                        <label>text</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="upload-btn-cover">
                        <button class="dark-green">Upload</button>
                        <input type="file" name="myfile" />
                        <label>text</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="upload-btn-cover">
                        <div class="upload-file">
                            <div class="upload-file-cover">
                                <img src="../../../../assets/img/airtel.svg" class="upload-img">
                                <img src="../../../assets/img/close.svg" class="close_icon">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div> -->
<!-- Upload Document screen start -->

<!-- Add money-4 screen Start  -->
<!-- <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
      <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body payment-successful-body">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="payment-successful">
                    <img src="../../../../assets/img/payment-successfull.svg">
                    <label>Payment Successful</label>
                    <p>You have successfully added <b>$ 100</b> to your wallet</p>
                    <div class="btn_group">
                        <button class="dark-green">Ok</button>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div> -->

<!-- Add money-4 screen Start -->