@import '../../../../scss/custom-variable';

/* login screen Start css */

.modal-header {
    width: 100%;
    float: left;
    display: initial;
    border-bottom: none;
    .modal-title {
        width: 100%;
        float: left;
        letter-spacing: 0.26px;
        font-size: $font-size-26;
        color: $title-color;
        font-weight: $Medium;
        position: relative;
        &::before {
            border-bottom: solid 2px $borderbefore-color;
            content: "";
            width: 70px;
            left: 0;
            position: absolute;
            bottom: -8px;
        }
    }
    p {
        width: 100%;
        float: left;
        letter-spacing: 0px;
        font-size: $font-size-18;
        font-weight: $Regular;
        color: $text-color;
        text-align: left;
        line-height: 30px;
        padding-top: 25px;
        margin-bottom: 10px;
    }
    .close {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        outline: none;
        span {
            img {
                max-width: 50px;
            }
        }
    }
}

.modal-body {
    width: 100%;
    float: left;
    form {
        width: 100%;
        float: left;
        .form-group {
            width: 100%;
            float: left;
            margin-top: 8px;
            position: relative;
            .eye_img {
                max-width: 20px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
        .forgot {
            float: right;
            top: -10px;
            position: relative;
            text-decoration: none;
            letter-spacing: 0px;
            font-size: $font-size-18;
            font-weight: $Regular;
            color: $title-color;
        }
        .btn_group {
            width: 100%;
            float: left;
            p {
                font-size: $font-size-18;
                font-weight: $Regular;
                letter-spacing: 0px;
                color: $text-color;
                margin-top: 20px;
                margin-bottom: 0;
                a {
                    color: $title-color;
                    font-weight: $Medium;
                    text-decoration: none;
                }
            }
        }
    }
}


/* login screen end css */


/* Add New Card screen start css,  Add Bank screen start css */


/* .modal-body.add-new-card {
    form {
        .form-group {
            margin-top: 15px;
        }
        .btn_group {
            margin-top: 15px;
        }
    }
} */


/* Add New Card screen end css,  Add Bank screen start css */


/* upload document screen start css */


/* .modal-body.register-form {
    form {
        width: 100%;
        float: left;
        margin-top: 20px;
        .form-group {
            .upload-btn-cover {
                width: 100%;
                display: inline-block;
                .dark-green {
                    cursor: pointer;
                }
                input {
                    position: absolute;
                    left: 0;
                    right: 0;
                    font-size: 10px;
                    top: 0;
                    bottom: 0;
                    opacity: 0;
                }
                label {
                    font-size: $font-size-18;
                    font-weight: $Regular;
                    color: $small-title-color;
                    text-transform: capitalize;
                    margin: 0;
                    float: right;
                }
                .upload-file {
                    width: 200px;
                    position: relative;
                    .upload-file-cover {
                        width: 80px;
                        height: 100px;
                        position: relative;
                        margin: 0 auto;
                        .upload-img {
                            width: 80px;
                            height: 100px;
                            object-fit: cover;
                        }
                        .close_icon {
                            position: absolute;
                            right: -25px;
                            max-width: 45px;
                            top: -20px;
                            z-index: 99999;
                        }
                    }
                }
            }
        }
    }
} */


/* upload document screen end css */


/* Add money-4 screen Start css */

.modal-body.payment-successful-body {
    width: 100%;
    display: inline-block;
    text-align: center;
    .payment-successful {
        width: 100%;
        display: inline-block;
        text-align: center;
        img {
            max-width: 100%;
            margin: 0 auto;
        }
        label {
            width: 100%;
            display: inline-block;
            letter-spacing: 0.26px;
            font-size: $font-size-26;
            font-weight: $Medium;
            color: $title-color;
            line-height: 40px;
            margin: 0;
            margin-top: 20px;
        }
        p {
            font-size: $font-size-18;
            font-family: $Regular;
            color: $text-color;
        }
        .btn_group {
            .dark-green {
                width: 100px;
            }
        }
    }
}


/* Add money-4 screen end css */