@import '../../../../scss/custom-variable';


.privacy-policy{
    padding-top:80px;
    margin-bottom: 30px;
    .title{
        font-size: $font-size-42;
        color: $white-color;
        padding: 45px 0 112px 0;
        background-color: $title-color;
        text-align: center;
    }
    .body-content-area{
        border-radius: 8px;
        box-shadow: 0px 3px 6px #0000000D;
        padding: 40px;
        margin-top: -70px;
        background: #ffffff;
    }
    .discription-block{
        margin-bottom: 25px;
        h2{
            margin: 0;
            color: #003844;
            font-size: 20px;
            padding-bottom: 10px;
            font-weight: $Semi-bold;
        }
        p{
            margin: 0;
            font-size: #003844;
            font-size: 14px;
            padding-bottom: 20px;
            font-weight: $Regular;
            line-height: 34px;
        }
    }
}