<div class="banner_Sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8">
                <div class="banner_text">
                    <h1>Tagline With Unique Selling Proposition</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam erat, maximus ac tortor a,
                        malesuada laoreet est.</p>
                    <div class="banner-btn">
                        <img src="../../../assets/img/app_store.png">
                        <img src="../../../assets/img/play_store.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner Scetion End -->

<!-- content Scetion Start -->
<div class="secure_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="left_Sec">
                    <h2>Simple, Fast & Secure</h2>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row m-t-100">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="right_Sec business">
                    <img src="../../../assets/img/business.svg">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="left_Sec business">
                    <h2>For Business</h2>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                    <h3>Lorem Ipsum is simply dummy text</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>
                    <hr>
                </div>
            </div>

        </div>
        <div class="row p-b-50">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="left_Sec agent">
                    <h2>Become an Agent</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text.</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="right_Sec agent">
                    <img src="../../../assets/img/agent.svg">
                </div>
            </div>
        </div>
    </div>
</div>