@import "../../../scss/custom-variable";

/* Banner Scetion Start css */

.banner_Sec {
    width: 100%;
    float: left;
    background: $white-color url("../../../assets/img/banner.svg") no-repeat center;
    background-size: 100%;
    padding: 220px 0 0;
    height: 830px;
    background-position: 0 0px;
    .banner_text {
        width: 100%;
        float: left;
        h1 {
            letter-spacing: 1.6px;
            font-weight: $Semi-bold;
            font-size: $banner-title;
            text-align: left;
            color: $white-color;
            line-height: 90px;
            margin: 0;
        }
        p {
            color: $white-color;
            letter-spacing: 0.17px;
            font-weight: 400;
            padding: 20px 0 35px;
            margin: 0;
            line-height: 28px;
            font-size: $font-size-17;
            width: 85%;
        }
        .banner-btn {
            img {
                width: 210px;
                margin-right: 15px;
                cursor: pointer;
                object-fit: contain;
                height: 62px;
            }
        }
    }
}


/* Banner Scetion End Css */


/* content Scetion Start css */

.secure_section {
    width: 100%;
    float: left;
    padding-top: 60px;
    background: $white-color;
    .row{
        align-items: center;
    }
    .m-t-100 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .p-b-50 {
        padding-bottom: 50px;
    }
    .left_Sec {
        width: 100%;
        // float: left;
        // margin-top: 70px;
        h2 {
            letter-spacing: 0.85px;
            color: $title-color;
            font-weight: $Semi-bold;
            font-size: $font-size-34;
        }
        h3 {
            letter-spacing: 0px;
            font-size: $font-size-20;
            font-weight: $Semi-bold;
            color: $small-title-color;
            margin-top: 25px;
        }
        p {
            letter-spacing: 0px;
            font-family: $Regular;
            color: $text-color;
            font-size: $font-size-16;
            line-height: 34px;
        }
    }
    .right_Sec {
        width: 100%;
        float: left;
        text-align: center;
        img {
            max-width: 100%;
            height: 500px;
            object-fit: contain;
        }
    }
    .left_Sec.agent h2 {
        margin-bottom: 25px;
    }
}


/* content Scetion End css*/

@media (min-width:1399px) and (max-width:1649px) {
    .banner_Sec {
        padding: 190px 0 0;
        height: 750px;
        .banner_text {
            h1 {
                font-size: 60px;
                line-height: 80px;
            }
        }
    }
}

@media (min-width:1200px) and (max-width:1398px) {
    .banner_Sec {
        height: 620px;
        padding: 150px 0 0;
        .banner_text {
            h1 {
                font-size: 50px;
                line-height: 75px;
            }
        }
    }
    .secure_section {
        // margin-top: 10px;
        .left_Sec {
            h2 {
                font-size: 32px;
            }
            p {
                line-height: 30px;
            }
        }
    }
}

@media (max-width:1199px) {
    .banner_Sec {
        height: 630px;
        padding: 150px 0 0;
        .banner_text {
            h1 {
                font-size: 45px;
                line-height: 70px;
            }
        }
    }
    .secure_section {
        padding-top: 0px;
        .left_Sec {
            h2 {
                font-size: 30px;
            }
            p {
                line-height: 30px;
            }
        }
    }
}

@media (max-width:1024px) {
    .banner_Sec {
        height: 540px;
        padding: 110px 0 0;
        .banner_text {
            h1 {
                font-size: 35px;
                line-height: 50px;
            }
            .banner-btn {
                img {
                    max-width: 150px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .banner_Sec {
        background-size: cover;
    }
}

@media (max-width:767px) {
    .banner_Sec {
        padding: 130px 0 0;
    }
    .secure_section {
        .left_Sec {
            margin-top: 50px;
        }
        .m-t-100 {
            margin-top: 90px;
            margin-bottom: 0;
        }
    }
}

@media (max-width:375px) {
    .banner_Sec {
        padding: 120px 0 0;
        .banner_text {
            h1 {
                font-size: 30px;
            }
            .banner-btn {
                img {
                    max-width: 125px;
                }
            }
        }
    }
    .secure_section {
        .right_Sec {
            img {
                height: auto;
            }
        }
        .left_Sec {
            h2 {
                font-size: 26px;
            }
            h3 {
                font-size: 18px;
            }
        }
    }
}