<div class="modal-header">
    <h4 class="modal-title pull-left">Forgot Password</h4>
    <p>To reset your password enter your registered phone number, we will send an SMS along with an OTP ﻿to your
        registered phone number if exists</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHide()">
        <span aria-hidden="true"><img src="../../../../assets/img/close.svg"></span>
    </button>
</div>
<div class="modal-body register-form">
    <form *ngIf="forgotForm" [formGroup]="forgotForm" (ngSubmit)="onForgotPassword()">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="register-radio">
                        <input formControlName="type" id="user" type="radio" name="type" value="{{mobileNumber}}"
                            (change)="typeSelected()">
                        <label for="user">{{"MOBILE_NUMBER" | translate}}</label>
                        <input formControlName="type" id="agent" type="radio" name="type" value="{{email}}"
                            (change)="typeSelected()">
                        <label for="agent">{{"EMAIL_ADDRESS" | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showEmail" class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="mobile"
                            placeholder="{{'MOBILE_NUMBER' | translate}}" trim maxlength="10">
                        <label>{{"MOBILE_NUMBER" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="forgotForm.controls['mobile']"
                            [messages]="messageList.mobile">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showEmail" class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="{{'EMAIL_ADDRESS' | translate}}" trim maxlength="60">
                        <label>{{"EMAIL_ADDRESS" | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="forgotForm.controls['email']" [messages]="messageList.email">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn_group">
                    <button type="submit" class="dark-green">Proceed</button>
                    <button type="button" class="disable-btn-green" (click)="onLogin()">Back to Login</button>
                </div>
            </div>
        </div>
    </form>
</div>