// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./scss/custom-variable";
@import "../node_modules/ngx-toastr/toastr.css";

/* Globel css start */

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: $font-size-16 !important;
    font-weight: $Regular !important;
    color: $text-color !important;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    line-height: 34px !important;
    background: $bodyBg-color !important;
    .form-control {
        letter-spacing: 0px;
        color: $small-title-color !important;
        font-size: $font-size-16 !important;
        text-align: left;
        border: none !important;
        border-bottom: solid 1px $inputborder-color !important;
        outline: none !important;
        box-shadow: none !important;
        background: none !important;
        padding-left: 0 !important;
        border-radius: 0 !important;
        font-weight: $Regular !important;
        position: relative;
        z-index: 9999;
        &::placeholder {
            opacity: 0.4 !important;
            color: $small-title-color !important;
        }
        &:-ms-input-placeholder {
            opacity: 0.4 !important;
            color: $small-title-color !important;
        }
        &::-ms-input-placeholder {
            opacity: 0.4 !important;
            color: $small-title-color !important;
        }
    }
}

.disable-btn{
    pointer-events: none;
    opacity: 0.5;
    cursor: pointer;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pin-input-control {
  letter-spacing: 0px;
  color: $small-title-color !important;
  font-size: $font-size-16 !important;
  text-align: left;
  border: none !important;
  border-bottom: solid 1px $inputborder-color !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  padding-left: 0 !important;
  height: 45px !important;
  width: 90px !important;
  border-radius: 0 !important;
  font-weight: $Regular !important;
  &::placeholder {
      opacity: 0.4 !important;
      color: $small-title-color !important;
  }
  &:-ms-input-placeholder {
      opacity: 0.4 !important;
      color: $small-title-color !important;
  }
  &::-ms-input-placeholder {
      opacity: 0.4 !important;
      color: $small-title-color !important;
  }
  &:not(:last-child) {
    margin-right: 25px !important;
  }
}

.dark-green {
    border-radius: 4px;
    background: $title-color;
    width: 200px;
    text-align: center;
    letter-spacing: 0px;
    font-size: $font-size-18;
    font-weight: $Medium;
    border: 1px solid $title-color;
    color: $white-color;
    padding: 9px 5px;
    outline: none !important;
    box-shadow: none !important;
    letter-spacing: 0.26px;
    &:hover{
        background: transparent;
        border: 1px solid $title-color;
        color: $title-color;
        transition: 1s;
    }
}

.disable-btn {
    border: none;
    background: none;
    width: 200px;
    padding: 9px 5px;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: none !important;
    font-size: $font-size-18;
    color: $text-color;
    font-weight: $Medium;
}

.disable-btn-green {
    border: none;
    background: none;
    width: 200px;
    padding: 9px 5px;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: none !important;
    font-size: $font-size-18;
    color: $title-color;
    font-weight: $Medium;
}

.modal-content {
    padding: 15px 25px !important;
    @media(max-width:767px){
        padding: 15px 5px !important;
    }
}

.modal {
    z-index: 9999 !important;
    .modal-dialog.modal-lg {
        max-width: 680px;
        @media(min-width:768px){
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.form-group {
    width: 100%;
    float: left;
    margin-bottom: 15px !important;
    margin-top: 8px;
    position: relative;
    .img-icon {
        max-width: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.card {
    background: $white-color;
    padding: 20px 25px 30px;
    box-shadow: 0px 3px 6px $box-shadow-color;
    border-radius: 4px !important;
    width: 100%;
    float: left;
    border: none !important;
    display: inherit !important;
}

.content-wrapper {
    width: 100%;
    float: left;
    padding-top: 77px;
    margin-bottom: 50px;
}

.bg-sec {
    background: $title-color;
    min-height: 156px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}

.bg-sec.height-257 {
    min-height: 230px;
}

.transaction {
    width: 100%;
    float: left;
    p {
        letter-spacing: 0.2px;
        font-size: $font-size-18;
        color: $title-color;
        font-weight: $Semi-bold;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .card {
        padding-top: 0px;
        padding-bottom: 70px;
        table {
            width: 100%;
            float: left;
            tr {
                th {
                    letter-spacing: 0px;
                    font-weight: $Regular;
                    font-size: $font-size-16;
                    color: $small-title-color;
                    border-bottom: solid 1px $inputborder-color;
                    padding: 15px 0 5px;
                }
            }
            tr {
                td {
                    border-bottom: solid 1px $inputborder-color;
                    .bill-payment {
                        h2 {
                            letter-spacing: 0.16px;
                            color: $title-color;
                            font-weight: $Medium;
                            font-size: $font-size-16;
                            margin-bottom: 15px
                        }
                        .company-logo {
                            width: 56px;
                            height: 56px;
                            border: solid 1px $inputborder-color;
                            border-radius: 50%;
                            margin-right: 15px;
                            float: left;
                            padding: 0;
                            display: flex;
                            img {
                                max-width: 100%;
                                padding: 6px;
                                object-fit: contain;
                                margin: 0 auto;
                            }
                        }
                        b {
                            letter-spacing: 0px;
                            font-weight: $Regular;
                            font-size: $font-size-16;
                            color: $small-title-color;
                        }
                        p {
                            color: $text-color;
                            letter-spacing: 0px;
                            font-weight: $Regular;
                            font-size: $font-size-14;
                            margin: 0;
                            line-height: 10px;
                        }
                    }
                    .success {
                        color: $success-color;
                        font-weight: $Regular;
                        font-size: $font-size-16;
                        margin: 0;
                    }
                    .warning {
                        color: $notification-color;
                    }
                    p {
                        color: $text-color;
                        letter-spacing: 0px;
                        font-weight: $Regular;
                        font-size: $font-size-16;
                        margin: 0;
                    }
                    padding: 15px 0 15px;
                }
            }
        }
    }
}


/* Custom radio buttons */


/* login form Scetion Start Css  */

.modal-header {
    width: 100%;
    display: initial !important;
    border: none !important;
    float: left;
    .modal-title {
        width: 100%;
        float: left;
        letter-spacing: 0.26px;
        font-size: $font-size-26;
        color: $title-color;
        font-weight: $Medium;
        position: relative;
        &::before {
            border-bottom: solid 2px $borderbefore-color;
            content: "";
            width: 70px;
            left: 0;
            position: absolute;
            bottom: -8px;
        }
    }
    p {
        width: 100%;
        float: left;
        letter-spacing: 0px;
        font-size: $font-size-18;
        font-weight: $Regular;
        color: $text-color;
        text-align: left;
        line-height: 30px;
        padding-top: 25px;
        margin-bottom: 10px;
    }
    .close {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        outline: none;
        span {
            img {
                max-width: 50px;
            }
        }
    }
}

.modal-body {
    width: 100%;
    float: left;
    form {
        width: 100%;
        float: left;
        .form-group {
            width: 100%;
            float: left;
            margin-top: 8px;
            position: relative;
            .eye_img {
                max-width: 20px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
        .forgot {
            float: right;
            top: -10px;
            position: relative;
            text-decoration: none;
            letter-spacing: 0px;
            font-size: $font-size-18;
            font-weight: $Regular;
            color: $title-color;
        }
        .btn_group {
            width: 100%;
            float: left;
            p {
                font-size: $font-size-18;
                font-weight: $Regular;
                letter-spacing: 0px;
                color: $text-color;
                margin-top: 20px;
                margin-bottom: 0;
                a {
                    color: $title-color;
                    font-weight: $Medium;
                    text-decoration: none;
                }
            }
        }
    }
}


/* login form Scetion End Css  */


/* Custom checkbox css start */

.checkbox_group {
    width: 100%;
    float: left;
    label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        letter-spacing: 0px;
        color: $small-title-color;
        font-size: $font-size-15;
        font-weight: $Regular;
        margin-top: 5px;
    }
    label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 6px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: solid 1px $checkboxBorder-color;
        border-radius: 2px;
    }
    label:hover input~.checkmark {
        background-color: transparent;
    }
    label input:checked~.checkmark {
        background-color: transparent;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    label input:checked~.checkmark:after {
        display: block;
    }
    label .checkmark:after {
        left: 7px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid $title-color;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}


/* Custom checkbox css end */

.register-radio {
    width: 100%;
    float: left;
    input[type="radio"]+label {
        display: initial;
        letter-spacing: 0px;
        color: $small-title-color;
        font-weight: $Medium;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 50px;
        font-size: $font-size-15;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 14px;
            position: absolute;
            top: 0px;
            left: 0;
            border: 1px solid $title-color;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    input[type="radio"] {
        display: none !important;
        *display: inline;
        &:checked+label:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: $title-color;
        }
    }
}

// End Custom radio buttons
.has-float-label {
    width: 100%;
    float: left;
    label {
        left: 0 !important;
        color: $title-color !important;
        font-size: $font-size-15 !important;
        font-weight: $Medium !important;
        margin-bottom: 0;
        top: -0.8em !important;
    }
    .form-control {
        &:placeholder-shown:not(:focus)+* {
            top: 12px !important;
            opacity: 0 !important;
        }
    }
}


/* Globel css end */


/* Header start css */

.header_Sec {
    width: 100%;
    float: left;
    background: $title-color;
    padding: 10px 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    .header-top {
        width: 100%;
        float: left;
        .login-box {
            width: 100%;
            float: left;
            ul {
                margin: 0 !important;
                padding: 0;
                float: right;
                li {
                    display: inline-block;
                    margin-left: 40px;
                    .notification {
                        position: relative;
                        float: left;
                        img {
                            max-width: 100%;
                        }
                        span {
                            font-weight: $Semi-bold;
                            font-size: $font-size-11;
                            color: $white-color;
                            background: $notification-color;
                            width: 18px;
                            border-radius: 50%;
                            height: 18px;
                            display: block;
                            position: absolute;
                            top: 0px;
                            right: -5px;
                            text-align: center;
                            line-height: 18px;
                        }
                    }
                    .wallet-balance {
                        float: left;
                        img {
                            max-width: 100%;
                            margin-right: 15px;
                            float: left;
                            margin-top: 10px;
                        }
                        span {
                            color: $title-color;
                            font-weight: $Medium;
                            letter-spacing: 0px;
                            font-size: $font-size-16;
                        }
                        p {
                            opacity: 0.7;
                            color: $title-color;
                            font-weight: $Medium;
                            letter-spacing: 0px;
                            font-size: $font-size-13;
                            padding-left: 47px;
                            line-height: 5px;
                            margin-bottom: 0;
                        }
                    }
                    .user {
                        float: left;
                        display: inline-flex;
                        align-items: center;
                        position: relative;
                        top: 7px;
                        &:hover{
                            outline: 0;
                            border: 0;
                        }
                        img {
                            max-width: 100%;
                            margin-right: 15px;
                            float: left;
                        }
                        p {
                            color: $title-color;
                            font-weight: $Medium;
                            letter-spacing: 0px;
                            font-size: $font-size-16;
                            margin-bottom: 0;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
        .navbar {
            padding: 0 !important;
            a.navbar-brand {
                img {
                    max-width: 100%;
                    width: 167px;
                }
            }
            .navbar-toggler {
                outline: none !important;
                .navbar-toggler-icon {
                    font-size: 0 !important;
                    border: none !important;
                    outline: none !important;
                    opacity: 1 !important;
                    width: 40px;
                    height: 40px;
                    background: none;
                    img {
                        width: 100%;
                    }
                }
            }
            .navbar-collapse {
                ul {
                    margin-top: 10px;
                    li {
                        a {
                            letter-spacing: 0.32px;
                            font-size: $font-size-16;
                            font-weight: $Medium;
                            color: $white-color;
                            padding-left: 5rem;
                            @media(max-width:1280px){
                                padding-left: 2rem !important;
                            }
                            @media(max-width:767px){
                                padding-left: 0rem !important;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .form-inline {
                    letter-spacing: 0.32px;
                    font-size: $font-size-16;
                    font-weight: $Medium;
                    color: $white-color;
                    border: solid 1px #fff;
                    border-radius: 27px;
                    padding: 8px 0;
                    width: 175px;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    @media(max-width:767px){
                        margin-top: 15px;
                        padding: 4px 0;
                    }
                }
            }
        }
    }
}

header.header_Sec.bg-header {
    background: $white-color;
    .header-top {
        .navbar {
            .navbar-toggler {
                background: $title-color;
            }
            .navbar-collapse {
                ul {
                    margin-top: 10px;
                    li {
                        a {
                            color: $title-color;
                        }
                    }
                }
                .form-inline {
                    color: $title-color;
                    border: solid 1px $title-color;
                }
            }
        }
    }
}


/* Header End Css */


/* Footer Scetion Start Css  */

footer {
    width: 100%;
    float: left;
    background: $footrBg-color;
    padding: 25px 0 0;
    margin-top: 0px;
    .item-box {
        width: 100%;
        float: left;
        img {
            max-width: 100%;
            margin-bottom: 15px;
        }
        p {
            font-size: $font-size-15;
            color: $text-color;
            font-weight: $Regular;
            line-height: 34px;
            margin-bottom: 0;
        }
        h3 {
            letter-spacing: 0.42px;
            color: $footer-title-color;
            font-size: $font-size-17;
            font-weight: $Bold;
            margin-bottom: 15px;
            margin-top: 20px;
        }
        ul {
            padding: 0;
            li {
                a {
                    display: block;
                    letter-spacing: 0px;
                    line-height: 34px;
                    font-size: $font-size-15;
                    font-weight: $Regular;
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright {
        width: 100%;
        float: left;
        background: $CopyrightBg-color;
        margin-top: 25px;
        padding: 12px 0;
        p {
            line-height: 34px;
            font-size: $font-size-15;
            font-weight: $Regular;
            color: $text-color;
            margin-bottom: 0;
            padding-top: 8px;
        }
        .social_icon {
            width: 100%;
            float: left;
            ul {
                padding: 0;
                margin: 0;
                float: right;
                li {
                    display: inline-block;
                    margin-left: 10px;
                    img {
                        max-width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/* Footer Scetion End Css  */


/*  Profile Basic Information screen start css */

.content_body {
    width: 100%;
    float: left;
    margin-top: 60px;
    /* left side bar */
    .col_box {
        position: relative;
        width: 100%;
        float: left;
        border-radius: 6px;
        box-shadow: 0px 3px 6px $box-shadow-color;
        border: none !important;
        padding: 20px;
        background: $white-color;
        height: 100%;
        h3 {
            letter-spacing: 0.2px;
            color: $title-color;
            font-weight: $Semi-bold;
            font-size: $font-size-20;
            padding: 0 10px;
        }
        .upload {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            top: -60px;
            .user-profile {
                width: 140px;
                height: 140px;
                border-radius: 50%;
            }
            .edit-user {
                position: absolute;
                right: 0;
                bottom: -10px;
                cursor: pointer;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                outline: none;
                opacity: 0;
            }
        }
        ul {
            margin-top: -20px;
            padding: 0;
            li {
                letter-spacing: 0px;
                color: $title-color;
                font-weight: $Regular;
                font-size: $font-size-16;
                @media(max-width:1400px){
                    font-size: $font-size-15;
                }
                padding: 2px 10px;
                margin: 6px 0;
                cursor: pointer;
                img {
                    width: 15px;
                    object-fit: contain;
                    float: left;
                    margin-top: 10px;
                    margin-right: 12px;
                }
                &:hover {
                    background: rgba(0, 56, 68, 0.06);
                    border-radius: 4px;
                }
            }
            .active {
                background: rgba(0, 56, 68, 0.06);
                border-radius: 4px;
            }
        }
        .form {
            float: left;
            .user-transparant {
                position: absolute;
                right: 0;
                top: 25px;
                img {
                    max-width: 100%;
                }
            }
            h2 {
                letter-spacing: 0.2px;
                color: $title-color;
                font-weight: $Semi-bold;
                font-size: $font-size-20;
            }
            .edit-btn {
                font-size: $font-size-16;
                color: $title-color;
                font-weight: $Medium;
                background: $opecity7;
                border-radius: 4px;
                border: solid 2px $opecity7;
                text-align: center;
                padding: 2px 15px;
                margin-top: 10px;
                outline: none;
                width: 130px;
                &:hover{
                    background-color: $title-color;
                    color: $white-color;
                    border: solid 2px $title-color;
                    transition: 1s;
                }
            }
            .cencel-btn {
                font-size: $font-size-16;
                color: $title-color;
                font-weight: $Medium;
                border-radius: 4px;
                border: solid 1px $opecity71;
                text-align: center;
                padding: 4px 15px;
                margin-top: 10px;
                outline: none;
                background: transparent;
                width: 130px;
                &:hover{
                    background-color: $title-color;
                    color: $white-color;
                    transition: 1s;
                }
            }
            .dark-green {
                border-radius: 4px;
                background: $title-color;
                text-align: center;
                letter-spacing: 0px;
                font-size: $font-size-16;
                font-weight: $Medium;
                border: none;
                color: $white-color;
                padding: 5px 15px;
                outline: none !important;
                box-shadow: none !important;
                width: 130px;
                margin-right: 15px;
            }
            .form-group {
                width: 100%;
                float: left;
                margin-top: 0;
                position: relative;
                .eye_img {
                    max-width: 20px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                .eye_img_open {
                    max-width: 20px;
                    position: absolute;
                    right: 10px;
                    top: 30px;
                }
                label {
                    font-weight: $Medium;
                    font-size: $font-size-14;
                    color: $title-color;
                    line-height: 17px;
                }
                p {
                    color: $profiletext-color;
                    font-weight: $Regular;
                    font-size: $font-size-18;
                    line-height: 17px;
                    margin: 0;
                }
                .form-control {
                    font-size: $font-size-16 !important;
                    font-weight: $Regular !important;
                    height: 26px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}


/*  Profile Basic Information screen start end */

@media (min-width:1650px) {
    body {
        .container {
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
}

@media (min-width:1399px) and (max-width:1649px) {
    body {
        .container {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
}

@media (min-width:1200px) and (max-width:1398px) {
    body {
        .container {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
}

@media(max-width:1199px) {
    body {
        .container {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
    .header_Sec {
        .header-top {
            .navbar {
                .navbar-collapse {
                    ul {
                        li {
                            a {
                                padding-left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .transaction {
        .card {
            overflow-x: scroll;
            tr {
                td {
                    white-space: nowrap;
                    padding: 10px 40px 15px 0 !important;
                    text-align: left;
                    .bill-payment {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .header_Sec {
        padding: 15px 0px 15px;
        background: $title-color;
        z-index: 1;
        .header-top {
            .navbar {
                .navbar-collapse {
                    ul {
                        li {
                            a {
                                padding-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .content_body {
        .col_box {
            height: auto;
            .form {
                .user-transparant {
                    display: none;
                }
            }
        }
        .mt-20 {
            margin-top: 20px;
        }
    }
    .header_Sec {
        .header-top {
            .navbar {
                .navbar-collapse {
                    padding-bottom: 30px;
                }
            }
        }
    }
    footer {
        .copyright {
            p {
                text-align: center;
                margin-bottom: 0;
            }
            .social_icon {
                text-align: center;
                display: inline-block;
                margin: 0 auto;
                ul {
                    float: none;
                }
            }
        }
    }
}

.mouse-hover {
    cursor: pointer;
}
.toast-container .ngx-toastr{
    width:auto;
}
.otp-input-custom{
    margin-bottom: 18px;
    padding-left: 17px;
    .wrapper{
        .otp-input{
            letter-spacing: 0px;
            color: #222222;
            font-size: 16px;
            text-align: center;
            border: none;
            border-bottom: solid 1px #ccc;
            outline: none;
            box-shadow: none;
            background: none;
            padding-left: 0;
            border-radius: 0;
            font-weight: 400;
            margin-right: 13px !important;
            @media(max-width:413px){
                margin-right: 7px !important;
            }
        }
    }
}

@media(min-width:768px) and (max-width:1024px){
    .content_body .col_box ul li{
        font-size: 12px;
        .kyc-setup{
            font-size: 9px;
            padding: 2px 7px;
        }
    }
}
