/*===Font Family====*/ // Font Familys
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*--- Font Weight ---*/

$light: 300;
$Regular: 400;
$Medium: 500;
$Semi-bold: 600;
$Bold: 700;
$Extra-bold: 800;
$Black: 900;

/*=== Font Size ===*/

$banner-title:64px;
$font-size-17:17px;
$font-size-16:16px;
$font-size-15:15px;
$font-size-14:14px;
$font-size-11:11px;
$font-size-9:9px;
$font-size-12:12px;
$font-size-13:13px;
$font-size-20:20px;
$font-size-18:18px;
$font-size-19:19px;
$font-size-26:26px;
$font-size-34:34px;
$font-size-28:28px;
$font-size-42:42px;

/*=== Font Color ===*/

$addmany-active-color:#4590A0;
$title-color:#003844;
$small-title-color:#222222;
$text-color:#666666;
$footer-title-color:#333333;
$white-color:#ffff;
$black-color:#000;
$footrBg-color:rgba(0,
56,
68,
0.05);
$bodyBg-color:#F6F6F6;
$CopyrightBg-color:#d9e2e3;
$borderbefore-color:#2B7787;
$inputborder-color:#ccc;
$box-shadow-color:#0000000D;
$checkboxBorder-color:#A7A7A7;
$success-color:#57D15F;
$notification-color:#FF4646;
$profiletext-color:#202126;
$toggelbg:#a5bfc5;
$opecity7:rgba(0,
56,
68,
0.07);
$opecity71:rgba(0,
56,
68,
0.71);
$opecity5:rgba(178,
178,
178,
0.5);
$opecity6:rgba(194,
194,
194,
0.6);